<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reception_status.name %>
</p>

<%= link_to 'Edit', edit_reception_status_path(@reception_status) %> |
<%= link_to 'Back', reception_statuses_path %>
