<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reception_point.name %>
</p>

<%= link_to 'Edit', edit_reception_point_path(@reception_point) %> |
<%= link_to 'Back', reception_points_path %>
