	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="module module-login span4 offset4">
          <%= form_tag user_sessions_path, :class => "form-vertical" ,:method => :post do %>
						<div class="module-head">
							<h3>Ingresar credenciales</h3>
						</div>


						<div class="module-body">
							<div class="control-group">
								<div class="controls row-fluid">
                  <%= text_field_tag :email %>
								</div>
							</div>
							<div class="control-group">
								<div class="controls row-fluid">
                  <%= password_field_tag :password   %>
								</div>
							</div>
						</div>
						<div class="module-foot">
							<div class="control-group">
								<div class="controls clearfix">
                  <%= submit_tag "Login", :class => "btn btn-primary pull-right" %>
								</div>
							</div>
						</div>
				  <% end %>
				</div>
			</div>
		</div>
	</div><!--/.wrapper-->
