<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client_group.name %>
</p>

<%= link_to 'Edit', edit_client_group_path(@client_group) %> |
<%= link_to 'Back', client_groups_path %>
